/* TEXT STYLING */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

p, a, h1, h2, h3, h4, h5, h6, li {
  font-family: "Source Sans Pro";
}

p, a {
  font-size: 1.2em;
}

a {
  color: #64B5B7;
}

a:hover {
  color: #64B5B7;
}

h1, h2, h3, h4, h5, h6 {
  color: #64B5B7;
  font-weight: 700;
}

/* BUTTON STYLING */

.btn-default {
  background-color: #64B5B7;
  border: 0px;
}

.btn-default h3 {
  color: white;
}


.btn-default{
  background-color: #64B5B7;
  border: 0px;
}

.navbar-default .navbar-nav>li>a:focus.btn-default, .navbar-default .navbar-nav>li>a:hover.btn-default {
  background-color: #5DA9AB;
  border: 0px;
  text-decoration: underline;
  color: white;
}

a:hover.btn.btn-default {
  background-color: #64B5B7;
  border: 0px;
  text-decoration: underline;
}


/* SECTION STYLING */

section {
  padding: 40px 0px;
}


/* NAVBAR */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: auto;
}

.navbar {
  min-height: 140px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

img.logo {
  margin: 0px auto;
}

@media (min-width: 768px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
}

.navbar-toggle {
    z-index:3;
}

.nav.navbar-nav h3 {
  margin: 0px;
}

.nav.navbar-nav a:hover h3 {
  text-decoration: underline;
}

.nav.navbar-nav.navbar-left {
  /*margin-left: 5%;*/
  margin-top: 84px;
}
.nav.navbar-nav.navbar-right {
  /*margin-right: 5%;*/
  margin-top: 84px;
}

/* CAROUSEL */

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; // Add this
}

/* MAP */

.maps {
  margin-bottom: -5px;
}

/* CUSTOMER SECTION */
section.customers, section.book {
  background-color: #E5EAF6;
}

.customer-quote {
  border-radius: 15px;
  background-color: white;
  padding: 20px 25px;
  margin-bottom: 25px;
}

.fa {
  color: #64B5B7;
}

/* Calendar */

.calendar {
  margin: 0px auto;
  text-align: center;
}



